.form {
    background-color: rgba(248, 162, 205, 0.5);
    width: 400px;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
}

.todo-input{
        max-width: 250px;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid rgb(255, 63, 159);
    margin-left: auto;
    margin-right: auto;
}

.todo-btn{
    margin-top: 5px;
    border-radius: 25px;
    border: 2px solid rgb(255, 0, 128);
    background-color: rgba(248, 162, 205, 0.5);
    padding: 5px 10px;
}