.info-list {
    display: flex;
gap: 40px;
background-color: rgba(248, 162, 205, 0.5);
border-radius: 30px;
padding: 40px;
width: 700px;
margin-left: auto;
margin-right: auto;
justify-content: center;

}
.info-item {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 7px;
    
}