.tasks-list {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.tasks-item {
    list-style: none;
    background-color: #00000066;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.completed {
  text-decoration: line-through;
}